<h1>Game#play</h1>

<div id="container-game-board">
	<table id="game-board" class="table">
		<tbody>
			<% 6.times do |row| %>
				<tr>
					<% 7.times do |col| %>
						<td class="container-slot">
							<%= "row: #{row} col: #{col}" %> 
							<div class="slot-empty"></div>
						</td>
					<% end %>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>